<div class="container-fluid">
  <div class="row" style="position: fixed;z-index: -1;background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);width: 100%;height: 13%;">
    <div class="col-md-12">
      <ul class="nav">
        <li class="nav-item">
          <h1 style="color: white;
    font-family: monospace;
    padding: 10px 10px 10px 10px;"><b>Twitter Data analysis on Avengers</b></h1>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" style="padding-top: 70px;">
    <div class="col-md-2" style="position: fixed; padding-top: 10px">
      <ul>
        <li class="list-item">
          <a href="#countries">Countries</a>
        </li>
        <li class="list-item">
          <a href="#characters">characters</a>
        </li>
        <li class="list-item">
          <a href="#yearchart">yearchart</a>
        </li>
        <li class="list-item">
          <a href="#yearchart">movies</a>
        </li>
        <li class="list-item">
          <a href="#hashtags">Hashtags</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10" style="margin-left: 200px;z-index: -50">
      <div class="row" id="countries">
        <div class="col-md-12" style="padding: 10px 10px 10px 10px;">
          Countries Map here.........
        </div>
      </div>
      <div class="row" id="characters">
        <div class="col-md-12">
       <app-characters></app-characters>
        </div>
      </div>
      <div class="row" id="yearchart">
        <div class="col-md-12">
          year wise statistics here...........,
          <app-yearwisechart></app-yearwisechart>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-tweets-for-movies></app-tweets-for-movies>
        </div>
      </div>
      <div class="row" id="hashtags">
        <div class="col-md-12">
          <app-hashtags></app-hashtags>
        </div>
      </div>
    </div>
  </div>
</div>
