<header role="banner">
  <nav class="navbar bg-success navbar-expand-md static-top">
    <div class="navbar-collapse">
      <!--<div class="row">-->
        <div class="col-2 float-left">
          <!--<div class="navbar-nav mr-auto bg-img">-->
          <!--</div>-->
        </div>
        <div class="col-8 text-center">
          <!--<div class="navbar-nav mr-auto text-center">-->
            <label class="navbar-brand heading">Tweets Trend Analysis</label>
          <br/>
          <label class="tagLine navbar-brand">(using Tweets across Globe)</label>
          <!--</div>-->
        </div>
        <div class="col-2 float-right">
          <!--<div class="navbar-nav mr-auto bg-graph">-->
          <!--</div>-->
        </div>
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-2"></div>-->
        <div class="col-12 text-center">

        </div>
        <!--<div class="col-2"></div>-->
      <!--</div>-->
    </div>
  </nav>
</header>
<div class="col-12 text-center">
  <label>Click on below to visualize trends analyzed using Spark</label>
</div>
  <div class="m-1 ml-5 row text-center text-white">
    <div class="circleT text-center m-2 col-sm-1 rounded-circle border border-dark" style="background-color: cornflowerblue;">
      <label class="m24">Popular Words</label>
    </div>
    <div class="circleT text-center m-2  col-sm-1 rounded-circle border border-dark" style="background-color: burlywood">
      <label class="m24">By Countries</label>
    </div>
    <div class="circleT text-center m-2  col-sm-1 rounded-circle border border-dark" style="background-color: antiquewhite">
      <label class="m24">Top Hashtags</label>
    </div>
    <div class="circleT text-center m-2  col-sm-1 rounded-circle border border-dark" style="background-color: bisque">
      <label class="m24">By Language</label>
    </div>
    <div class="circleT text-center m-2 col-sm-1 rounded-circle border border-dark" style="background-color: chocolate">
      <label class="m24">Top by Followers</label>
    </div>
    <div class="circleT text-center m-2 col-sm-1 rounded-circle border border-dark" style="background-color: darkseagreen">
      <label class="m24">Top by Tweets</label>
    </div>
    <div class="circleT text-center m-2 col-sm-1 rounded-circle border border-dark" style="background-color: khaki">
      <label class="m24">By Month</label>
    </div>
    <div class="circleT text-center m-2 col-sm-1 rounded-circle border border-dark" style="background-color: gainsboro">
      <label class="m24">By Emotion</label>
    </div>
    <div class="circleT text-center m-2 col-sm-1 rounded-circle border border-dark" style="background-color: lightgrey">
      <label class="m24">By Year</label>
    </div>
    <div class="circleT text-center m-2 col-sm-1 rounded-circle border border-dark" style="background-color: aquamarine">
      <label class="m24">By Emotion</label>
    </div>
  </div>

<router-outlet></router-outlet>
