<div class="container-fluid">
  <div class="row" style="position: fixed;z-index: -1;background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);width: 100%;height: 13%;">
    <div class="col-md-12">
      <ul class="nav">
        <li class="nav-item">
          <h1 style="color: white;
    font-family: monospace;
    padding: 10px 10px 10px 10px;"><b>Twitter Data analysis on Avengers</b></h1>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" style="padding-top: 70px;">
    <div class="col-md-2" style="position: fixed; padding-top: 25px">
      <ul>
        <li class="list-item">
          <a href="#countries">Top 20 Countries</a>
        </li>
        <li class="list-item">
          <a href="#characters">Characters</a>
        </li>
        <li class="list-item">
          <a href="#hashtags">Hashtags</a>
        </li>
        <li class="list-item">
          <a href="#emotions">Emotions</a>
        </li>
        <li class="list-item">
          <a href="#yearwise">Year Wise tweets</a>
        </li>
        <li class="list-item">
          <a href="#languages">Tweets by Language</a>
        </li>
        <li class="list-item">
          <a href="#devices">Device</a>
        </li>
        <li class="list-item">
          <a href="#avengersmovies">Avengers Movies</a>
        </li>
        <li class="list-item">
          <a href="#beforeafter">Before and after End Game</a>
        </li>
        <li class="list-item">
          <a href="#beforeafter">Tweets for End Game for countries</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10" style="margin-left: 200px;z-index: -50">
      <div class="row" id="countries">
        <div class="col-md-12" style="padding: 20px 20px 20px 20px;">
          <h6 style="padding-top: 20px"><b>Tweets for avengers from top 20 countries</b></h6>
          <app-endgamecountries></app-endgamecountries>
        </div>
      </div>
      <div class="row" id="characters" >
        <div class="col-md-12" style="padding: 20px 20px 20px 20px">
          <h6 style="padding-bottom: 20px"><b>Tweets for avengers Characters</b></h6>
          <app-characters></app-characters>
        </div>
      </div>
      <div class="row" id="hashtags">
        <div class="col-md-12" style="padding: 20px 20px 20px 20px">
          <h6 ><b>Most used #hastags for Avengers</b></h6>
          <app-hashtags></app-hashtags>
        </div>
      </div>
      <div class="row" id="emotions">
        <div class="col-md-12"style="padding: 20px 20px 20px 20px">
          <h6 ><b>Emotions for Avengers</b></h6>
          <app-emotions></app-emotions>
        </div>
      </div>
      <div class="row" id="yearwise">
        <div class="col-md-12"style="padding: 20px 20px 20px 20px">
          <h6 ><b>Year wise tweets for Avengers</b></h6>
          <app-yearwisechart></app-yearwisechart>
        </div>
      </div>
      <div class="row" id="languages">
        <div class="col-md-12"style="padding: 20px 20px 20px 20px">
          <h6 ><b> Languages used for tweets </b></h6>
          <app-language></app-language>
        </div>
      </div>
      <div class="row" id="devices">
        <div class="col-md-12"style="padding: 20px 20px 20px 20px">
          <h6 ><b> Devices </b></h6>
          <app-devices></app-devices>
        </div>
      </div>
      <div class="row" id="avengersmovies">
        <div class="col-md-12"style="padding: 20px 20px 20px 20px">
          <h6 ><b> Tweets for Avengers movies </b></h6>
          <app-tweets-for-movies></app-tweets-for-movies>
        </div>
      </div>
      <div class="row" id="beforeafter">
        <div class="col-md-12"style="padding: 20px 20px 20px 20px">
          <h6 ><b> Before after End Game </b></h6>
          <app-baendgame></app-baendgame>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="col-md-12"style="padding: 20px 20px 20px 20px">
            <h6 ><b> Tweets for endgame from countries </b></h6>
          <google-chart [type]="'GeoChart'" [data]="geo_data"></google-chart>
        </div>
      </div>
    </div>
  </div>
</div>
