.heading{
  font-family: Georgia, serif;
  font-size: 30px;
  letter-spacing: -0.4px;
  word-spacing: 1.6px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: capitalize;
  padding-left: 15px;
}

.tagLine{
  font-family: Georgia, serif;
  font-size: 15px;
  letter-spacing: -0.4px;
  word-spacing: 1.6px;
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: capitalize;
  padding-left: 15px;
}
.circleT {
  height: 100px;
  text-align: center;
}
.m24
{
  margin-top: 24px;
}
.bg-img {

  background-image: url(../assets/Image/att_2016_globe_detail.png);
  min-height: 100px;
  min-width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-graph {

  background-image: url(../assets/Image/maxresdefault.jpg);
  min-height: 100px;
  min-width: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
li {
  list-style-image: url('../assets/Image/twitter.png');
  list-style-position:outside ;
}
