<div class="col-md-12">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <h6 class="card-header" style="background: #e1f1f4">
          Tweets : {{response[16].NumberOfTweets}}
        </h6>
        <div class="card-body" style="padding: 0px">
          <img src="../assets/Image/captainmarvel.jpg" alt="captainmarvel">
        </div>
        <div class="card-footer" style="background: #e1f1f4">
         Captain Marvel
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <h6 class="card-header" style="background: #e3e1f4">
          Tweets : {{response[14].NumberOfTweets}}
        </h6>
        <div class="card-body" style="padding: 0px">
          <img src="../assets/Image/ironman.jpg" alt="ironMan">
        </div>
        <div class="card-footer" style="background: #e3e1f4">
         Iron Man
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <h6 class="card-header" style="background: #e3e1f4">
          Tweets : {{response[14].NumberOfTweets}}
        </h6>
        <div class="card-body" style="padding: 0px">
          <img src="../assets/Image/thor.jpg" alt="ironMan">
        </div>
        <div class="card-footer" style="background: #e3e1f4">
          Thor
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <h6 class="card-header" style="background: #f2e1f4">
          Tweets : {{response[6].NumberOfTweets}}
        </h6>
        <div class="card-body" style="padding: 0px">
          <img src="../assets/Image/captainamerica.jpg" alt="CaptainAmerica">
        </div>
        <div class="card-footer" style="background: #f2e1f4">
          Capt America
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <h6 class="card-header" style="background: #f2e1f4">
          Tweets : {{response[6].NumberOfTweets}}
        </h6>
        <div class="card-body" style="padding: 0px">
          <img src="../assets/Image/thanos.jpg" alt="CaptainAmerica">
        </div>
        <div class="card-footer" style="background: #f2e1f4">
          Thanos
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <h6 class="card-header" style="background: #f2e1f4">
          Tweets : {{response[2].NumberOfTweets}}
        </h6>
        <div class="card-body" style="padding: 0px">
          <img src="../assets/Image/hulk.jpg" alt="hulk">
        </div>
        <div class="card-footer" style="background: #f2e1f4">
          Hulk
        </div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-2">
      <div class="card" style="width:150px">
        <h6 class="card-header" style="background: #f2e1f4;">
          Tweets : {{response[8].NumberOfTweets}}
        </h6>
        <div class="card-body" style="padding: 0px;">
          <img src="../assets/Image/hawkeye.jpg" alt="hawkeye">
        </div>
        <div class="card-footer" style="background: #f2e1f4">
          Hawkeye
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card" style="width:150px">
        <h6 class="card-header" style="background: #f2e1f4;">
          Tweets : {{response[15].NumberOfTweets}}
        </h6>
        <div class="card-body" style="padding: 0px;">
          <img src="../assets/Image/loki.jpg" alt="loki">
        </div>
        <div class="card-footer" style="background: #f2e1f4">
          Loki
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card" style="width:150px">
        <h6 class="card-header" style="background: #f2e1f4;">
          Tweets : {{response[1].NumberOfTweets}}
        </h6>
        <div class="card-body" style="padding: 0px;">
          <img src="../assets/Image/blackwidow.jpg" alt="blackWidow">
        </div>
        <div class="card-footer" style="background: #f2e1f4">
          Black Widow
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card" style="width:150px">
        <h6 class="card-header" style="background: #f2e1f4;">
          Tweets : {{response[11].NumberOfTweets}}
        </h6>
        <div class="card-body" style="padding: 0px;">
          <img src="../assets/Image/antman.jpg" alt="antman">
        </div>
        <div class="card-footer" style="background: #f2e1f4">
          Ant Man
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card" style="width:150px">
        <h6 class="card-header" style="background: #f2e1f4;">
          Tweets : {{response[3].NumberOfTweets}}
        </h6>
        <div class="card-body" style="padding: 0px;">
          <img src="../assets/Image/spiderman.jpg" alt="spiderMan">
        </div>
        <div class="card-footer" style="background: #f2e1f4">
          Spider Man
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card" style="width:150px">
        <h6 class="card-header" style="background: #f2e1f4;">
          Tweets : {{response[13].NumberOfTweets}}
        </h6>
        <div class="card-body" style="padding: 0px;">
          <img src="../assets/Image/blackpanther.jpg" alt="blackPanther">
        </div>
        <div class="card-footer" style="background: #f2e1f4">
          Black Panther
        </div>
      </div>
    </div>
  </div>
</div>
